<section class="image">
    <header>
      <nav class="navbar sidebar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#/">
            <img src="../images/logo.png" alt="logo-aeropuerto" width="90" height="70">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav  ">
              <a class="nav-link active" href="https://aeropuerto-campanero.netlify.app/">Inicio</a>
              <a class="nav-link active" href="#/aerolineas">Aerolíneas</a>
              <a class="nav-link active" href="#/sobreNosotros">Nuestra empresa</a>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col">
              <a class="btn btn-primary" href="#/login" role="button">Iniciar sesión</a>
            </div>
            <div class="col">
              <a class="btn btn-secondary" href="#/registro" role="button">Registrarse</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="d-flex flex-column align-items-center">
      <p class="text-home fst-italic text-white">LA VIDA ES CORTA Y EL MUNDO ES ANCHO!</p>
      <p class="text-p fst-italic text-white">Para obtener lo mejor de tu aventura, solo necesitas salir e ir a donde quieras. Te estamos esperando!!</p>
    </div>
</section>
<div class="d-flex justify-content-center">
    <form class="row g-3 flight-form shadow-lg p-3 mb-5 bg-body rounded" id="form">
      <div class="col-auto">
        <label class="visually" for="s-city">Desde donde viajas?</label>
        <select class="form-select" id="s-city">
        </select>
      </div>
      <div class="col-auto">
        <label class="" for="s-cityDestiny">Hacia</label>
        <select class="form-select" id="s-cityDestiny">
        </select>
      </div>
      <div class="col-auto">
        <label class="visually" for="specificSizeSelect">¿Cuándo viajas?</label>
        <input type="date" class="form-control" id="date">
      </div>
      <div class="col-auto">
        <label class="visually" for="adults-input">Pasajeros</label>
        <input type="number" class="form-control" name="" placeholder="Adultos" id="adults-input" min="1" required>
      </div>
      <div class="col-auto">
        <label class="invisible" for="children-input">Niños</label>
        <input type="number" class="form-control" name="" placeholder="Niños" id="children-input" min="0" required>
      </div>
      <div class="col-auto">
        <label class="invisible" for="infants-input">Bebés</label>
          <input type="number" class="form-control" name="" placeholder="Bebés" id="infants-input" min="0" required>
      </div>
      <div class="col-auto align-self-center pt-4">
        <button type="submit" class="btn btn-primary mb-3" id="search">Buscar vuelos</button>
      </div>
    </form>
    
</div>