<section class="image">
    <header>
      <nav class="navbar sidebar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#/">
            <img src="https://i.ibb.co/drF9znL/logo.png" alt="logo-aeropuerto" width="90" height="70">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav  ">
              <a class="nav-link active" href="#/">Inicio</a>
              <a class="nav-link active" aria-current="page" href="#/infoVuelos">Información de vuelos</a>
              <a class="nav-link active" href="#/aerolineas">Aerolíneas</a>
              <a class="nav-link active" href="#/sobreNosotros">Nuestra empresa</a>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col">
              <a class="btn btn-primary" href="#/login" role="button">Iniciar sesión</a>
            </div>
            <div class="col">
              <a class="btn btn-secondary" href="#/registro" role="button">Registrarse</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="d-flex flex-column align-items-center">
      <p class="text-home fst-italic text-white">LA VIDA ES CORTA Y EL MUNDO ES ANCHO!</p>
      <p class="text-p fst-italic text-white">Para obtener lo mejor de tu aventura, solo necesitas salir e ir a donde quieras. Te estamos esperando!!</p>
    </div>
</section>
<div class="d-flex justify-content-center">
    <form class="row g-3 flight-form shadow-lg p-3 mb-5 bg-body rounded">
      <div class="col-auto">
        <label class="visually" for="specificSizeSelect">¿A dónde viajas?</label>
        <select class="form-select" id="specificSizeSelect">
          <option selected>Desde...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-auto">
        <label class="invisible">Destino</label>
        <select class="form-select" id="specificSizeSelect">
          <option selected>Hacia...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-auto">
        <label class="visually" for="specificSizeSelect">¿Cuándo viajas?</label>
        <select class="form-select" id="specificSizeSelect">
          <option selected>Salida</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-auto">
        <label class="invisible">Destino</label>
        <select class="form-select" id="specificSizeSelect">
          <option selected>Vuelta</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-auto">
        <label class="visually" for="specificSizeSelect">Pasajeros</label>
        <select class="form-select" id="specificSizeSelect">
          <option selected>Adultos</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-auto">
        <label class="invisible" for="specificSizeSelect">Niños</label>
        <select class="form-select" id="specificSizeSelect">
          <option selected>Niños</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-auto">
        <label class="invisible" for="specificSizeSelect">Bebés</label>
        <select class="form-select" id="specificSizeSelect">
          <option selected>Bebés</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-auto align-self-center pt-4">
        <button type="submit" class="btn btn-primary mb-3">Buscar vuelos</button>
        <i class="fa-solid fa-tickets-airline"></i>
      </div>
      
    </form>
    
</div>