<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Registro</h3>
                            <!-- Sign In Form -->
                            <form id="form-addUser">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control floatingInput" id="user" placeholder="name@example.com">
                                    <label for="user">Usuario</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="name" placeholder="name@example.com">
                                    <label for="name">Nombre</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="phone" placeholder="3180128900">
                                    <label for="phone">Telefono</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control password" id="password" placeholder="Password">
                                    <label for="password">Contraseña</label>
                                </div>
                                <div class="d-grid">
                                    <input class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" id="bLog" type="submit" value="Registrarme">
                                    <div class="text-center">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>